[submodule "tsplib"]
	path = tsplib
	url = https://github.com/mastqe/tsplib
[submodule "LOGO-solver"]
	path = LOGO-solver
	url = https://github.com/mastqe/logo-tsp-solver
[submodule "TSP_GPU"]
	path = TSP_GPU
	url = git@github.com:mastqe/TSP_GPU.git
[submodule "concorde"]
	path = concorde
	url = https://github.com/mastqe/concorde
[submodule "papers"]
	path = papers
	url = git@github.com:mastqe/tsp-papers.git
[submodule "acotsp"]
	path = acotsp
	url = https://github.com/mastqe/acotsp
