[submodule "tsplib"]
	path = tsplib
	url = https://github.com/mastqe/tsplib
[submodule "LOGO-solver"]
	path = LOGO-solver
	url = https://github.com/mastqe/logo-tsp-solver
[submodule "concorde"]
	path = concorde
	url = https://github.com/mastqe/concorde
[submodule "acotsp"]
	path = acotsp
	url = https://github.com/mastqe/acotsp
