[submodule "tsplib"]
	path = tsplib
	url = git@github.com:mastqe/tsplib
[submodule "LOGO-solver"]
	path = LOGO-solver
	url = git@github.com:mastqe/logo-tsp-solver
[submodule "TSP_GPU"]
	path = TSP_GPU
	url = git@github.com:mastqe/TSP_GPU.git
[submodule "concorde"]
	path = concorde
	url = git@github.com:mastqe/concorde
[submodule "papers"]
	path = papers
	url = git@github.com:mastqe/tsp-papers.git
